<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<body class="iframe <roundcube:exp expression="env:task != 'mail' ? ' floatingbuttons' : ' mail'" />">

<roundcube:if condition="env:task != 'mail'" />
<div id="filter-title" class="boxtitle"><roundcube:label name="manageprocmail.filterdef" /></div>
<roundcube:endif />

<div id="filter-form" class="boxcontent">
    <roundcube:object name="plugin.filterform" render="begin" />
    <roundcube:object name="plugin.filterform" render="errors" />

    <roundcube:object name="plugin.filterform" field="rule_type" />
    <roundcube:object name="plugin.filterform" field="rule_header" />
    <roundcube:object name="plugin.filterform" field="rule_action" />
    <roundcube:object name="plugin.filterform" field="rule_against" />
    <roundcube:object name="plugin.filterform" field="message_action" />

    <div id="footer">
        <div class="footerleft formbuttons floating">
            <roundcube:object name="plugin.filterform" field="submit" />

            <label for="disabled">
                <input type="checkbox" id="disabled" name="_disabled" value="1" />
                <roundcube:label name="manageprocmail.filterdisabled" />
            </label>
        </div>
    </div>
    <roundcube:object name="plugin.filterform" render="end" />
</div>

</body>
</html>
