<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<body class="iframe <roundcube:exp expression="env:task != 'mail' ? ' floatingbuttons' : ' mail'" />">

<roundcube:if condition="env:task != 'mail'" />
<div id="filter-title" class="boxtitle"><roundcube:label name="manageprocmail.filterdef" /></div>
<roundcube:endif />

<div id="filter-form" class="boxcontent">
    <roundcube:object name="plugin.filterform" render="begin" />
    <roundcube:object name="plugin.filterform" render="errors" />

    <fieldset>
        <legend>ABS</legend>
        <table class="propform">
            <tr>
                <td class="title">
                    <roundcube:object name="plugin.filterform" label="filter_op" />
                </td>
                <td>
                    <roundcube:object name="plugin.filterform" field="filter_op" />
                </td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Rules</legend>
        <roundcube:object name="plugin.filterform" field="rule" />
    </fieldset>

    <fieldset>
        <legend>Actions</legend>
        <table class="propform">
            <tr>
                <td>
                    <roundcube:object name="plugin.filterform" field="message_action_delete"/>
                </td>
            </tr>
            <tr>
                <td>
                    <roundcube:object name="plugin.filterform" field="message_action_mark_as_read"/>
                </td>
            </tr>
            <tr>
                <td>
                    <roundcube:object name="plugin.filterform" field="message_action_forward_to"/>
                </td>
            </tr>
            <tr>
                <td>
                    <roundcube:object name="plugin.filterform" field="message_action_move_to"/>
                </td>
            </tr>
            <tr>
                <td>
                    <roundcube:object name="plugin.filterform" field="message_action_copy_to"/>
                </td>
            </tr>
        </table>
    </fieldset>

    <div id="footer">
        <div class="footerleft formbuttons floating">
            <roundcube:object name="plugin.filterform" field="submit" />

            <roundcube:object name="plugin.filterform" field="filter_active"/>
        </div>
    </div>
    <roundcube:object name="plugin.filterform" render="end" />
</div>

</body>
</html>
