<roundcube:object name="doctype" value="html5" />
<html>
<head>
    <title><roundcube:object name="pagetitle" /></title>
    <roundcube:include file="/includes/links.html" />
</head>
<roundcube:if condition="env:extwin" /><body class="noscroll extwin"><roundcube:else /><body class="noscroll"><roundcube:endif />

<roundcube:include file="/includes/header.html" />

<h1 class="voice"><roundcube:label name="settings" /> : <roundcube:label name="manageprocmail.filters" /></h1>

<div id="mainscreen" class="offset">

    <roundcube:include file="/includes/settingstabs.html" />
    <div id="settings-right" role="main">
        <div class="uibox contentbox">
            <h1 class="boxtitle"><roundcube:label name="manageprocmail.error" /></h1>

            <div class="boxcontent">
                <p>Invalid content of stored script.</p>

                <roundcube:object name="link" value="replace script" action="plugin.manageprocmail-replace-script" />
                <roundcube:object name="link" value="prepend script" action="plugin.manageprocmail-prepend-script" />
                <roundcube:object name="link" value="append script" action="plugin.manageprocmail-append-script" />
            </div>
        </div>
    </div>
</div>

<roundcube:include file="/includes/footer.html" />

</body>
</html>
