<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<body class="noscroll">

<style>
  #manageprocmail-vacation {
    margin-left: 210px;
  }
</style>

<roundcube:include file="/includes/header.html" />

<div id="mainscreen" class="offset">

<h1 class="voice"><roundcube:label name="settings" /> : <roundcube:label name="manageprocmail.vacation" /></h1>

<roundcube:include file="/includes/settingstabs.html" />

<div id="manageprocmail-vacation" class="uibox contentbox" role="main" aria-labelledby="aria-label-vacationform">
  <div>
    <h2 class="boxtitle" id="aria-label-vacationform"><roundcube:label name="manageprocmail.vacation" /></h2>
    <roundcube:object name="plugin.template" />
  </div>
</div>

</div>

<roundcube:include file="/includes/footer.html" />

</body>
</html>
